@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron ">
    <h1>Hospital Management Application</h1>
    <p class="lead">
        Hospital management system is a computer system that helps manage the information
        related to health care and aids in the job completion of health care providers
        effectively.HMS was introduced to solve the complications coming from managing all the paper works of every patient associated with the various departments of hospitalization with confidentiality.
        It provides the ability to manage all the paperwork in one place, reducing the work of staff in arranging and analyzing the paperwork of the patients.
    </p>
   <!-- <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row bg-info">
    <div class="col-md-4">
        <h2>Hospital Details</h2>
       <p><a class="btn btn-primary" href="https://localhost:44350/Hospitals/Index">Hospitals &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Doctors Details</h2>
        <p><a class="btn btn-primary" href="https://localhost:44350/Doctors/Index">Doctors &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Patients Details</h2>
        <p><a class="btn btn-primary" href="https://localhost:44350/Patients/Index">Patients &raquo;</a></p>
    </div>
</div>